.home{
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 150px; */
}

.home_content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.home_content > p {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}

.home_logo {
    width: 400px;
    object-fit: contain;
}

@media only screen and (max-width:776px) {
    .home_content {
        width: 100%;
    }
    .home_logo {
        display: none;
    }
}

@media (min-width:777px) and (max-width:1200px) {
    .home_logo {
        width: 300px;
    }
}