.home{

    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.home_content {
    display: flex;
    flex-direction: column;
}

.home_content > p {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}

.home_logo {
    width: 400px;
    object-fit: contain;
}