.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
    color: black;
    height: 50px;
    padding: 20px;
    border-bottom: 1px solid black;
    font-weight: 600;
    z-index: 10;
}

.navbar_logo {
    height: 22px !important;
    padding: 10px;
    cursor: pointer;
}
.navbar > a {
    text-decoration: none;
    color: black;
}

.navbar_links {
    width: 400px;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar_links > div > a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}